# Shared
DOMAIN=voting.example.com

# Database
POSTGRES_DB=imss_voting
POSTGRES_USER=imss
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgresql://imss:change-me@db:5432/imss_voting

# API
PORT=4000
CORS_ORIGIN=http://localhost:3000
INTERNAL_API_KEY=replace-with-long-random-string

# CAS SSO UI (NOT OIDC)
SSO_UI_CAS_URL=https://sso.ui.ac.id/cas2
API_PUBLIC_URL=http://localhost:4000
APP_WEB_URL=http://localhost:3000
SESSION_JWT_SECRET=replace-with-32-char-min-secret
CAS_STUDENT_ATTR_KEY=peran_user
CAS_STUDENT_ATTR_VALUES=Mahasiswa,mahasiswa,student
CAS_EMAIL_ATTR_KEY=mail
CAS_ADMIN_USERS=

# Blockchain
CHAIN_ID=11155111
RPC_URL=https://sepolia.infura.io/v3/replace-me
ADMIN_SIGNER_KEY=0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
ELECTION_CONTRACT_ADDRESS=0xbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_RPC_URL=https://sepolia.infura.io/v3/replace-me
NEXT_PUBLIC_ELECTION_CONTRACT_ADDRESS=0xbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
